!bin
vim/bundle/
tmux/plugins/
tmux/resurrect/
config/fish/fish_history
config/nvim/plugged
config/configstore
vim/.netrwhist
config/hub
config/xbuild
config/stetic
config/direnv
atom/*
!atom/config.cson
!atom/init.coffee
!atom/keymap.cson
!atom/snippets.cson
!atom/packages.cson
!atom/projects.cson
!atom/styles.less
npm-debug.log
config/yarn/global/node_modules
config/fisherman/*
config/gcloud
