packages: [
  "advanced-open-file"
  "api-docs"
  "atom-beautify"
  "atom-clock"
  "atom-elixir"
  "atom-spotify2"
  "autocomplete-elixir"
  "color-picker"
  "emmet"
  "git-plus"
  "git-time-machine"
  "Hydrogen"
  "iex"
  "ink"
  "json-schema"
  "language-elixir"
  "language-javascript-jsx"
  "linter"
  "linter-clojure"
  "linter-elixir-credo"
  "linter-elixirc"
  "linter-eslint"
  "linter-gcc"
  "linter-jsxhint"
  "linter-rails-best-practices"
  "linter-sass-lint"
  "merge-conflicts"
  "minimap"
  "minimap-hide"
  "minimap-linter"
  "nrepl"
  "package-sync"
  "Parinfer"
  "pigments"
  "playyoutube"
  "project-manager"
  "proto-repl"
  "proto-repl-charts"
  "react"
  "redux-snippets"
  "relative-numbers"
  "Repl"
  "script"
  "split-diff"
  "tab-switcher"
  "term3"
  "terminal-plus"
  "test-jumper"
  "tool-bar"
  "tree-view-git-status"
  "unity-shader-files"
  "vim-mode-plus"
  "you-complete-me"
]
